h1 {
  font-family: 'Bitcount Prop Single', 'PT Sans', sans-serif;
  font-weight: 600;
  @apply dark:text-white;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', 'PT Sans', sans-serif;
  font-weight: 400;
  @apply dark:text-white font-normal print:break-after-avoid;
}

.prose {
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply pb-1 border-b border-black/10 dark:border-white/10;
  }
}

img.emoji {
  @apply inline my-0;
}
