@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@plugin "daisyui";

@source "../../course/collections/_course/**/slides/**/*.md";

@custom-variant screen (@media screen);

body {
  background-color: #d9d4c4;
}

img.emoji {
  @apply m-0;
}

.emoji-container img.emoji {
  @apply size-full;
}

strong:not(.text-success):not(.text-info):not(.text-warning):not(.text-error) {
  @apply text-black;
}

a {
  @apply text-blue-800 underline hover:text-accent;

  & strong {
    @apply text-blue-800 hover:text-accent;
  }
}

pre.mermaid {
  @apply shadow-none text-center text-gray-600;
}

.reveal .slides section:first-child,
.reveal .slides .scroll-page:first-of-type .scroll-page-content section {
  h1 {
    font-family: 'Bitcount Prop Single', sans-serif;
    font-size: 1.8em;
    text-transform: none;
  }

  .subtitle {
    font-family: 'Bitcount Prop Single', sans-serif;
    font-size: 1em;
    text-transform: none;
  }
}

.italic {
  font-style: italic;
}

.reveal .grid-container {
  display: block;
  width: 100%;
  clear: both;
}

.reveal .subtitle {
  margin-top: -0.6em;
  font-size: 0.8em;
}

.reveal blockquote {
  border-left: 0.2em solid #586e75;
  border-right: 0.2em solid #586e75;
  font-size: 0.8em;

  > :first-child {
    margin-top: 0.2em;
  }

  > :last-child {
    margin-bottom: 0.2em;
  }
}
