@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Fjalla+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    nord --default,
    night --prefersdark;
}

@theme {
  --breakpoint-xs: 30rem;
  --font-title: 'Bitcount Prop Single', 'PT Sans', sans-serif;
}

@source inline("peer/section-{0..10}");
@source inline("group/section-{0..10}");
@source inline("peer-has-checked/section-{0..10}:flex");
@source inline("group-has-checked/section-{0..10}:hidden");
@source inline("group-has-checked/section-{0..10}:inline");

@source "../../app/deps/flashy/**/*.*ex";
@source "../../app/lib/archidep_web";
@source "../../course/collections";
@source "../../course/_includes";
@source "../../course/index.md";
@source "../../course/_layouts";
@source "../../course/_plugins";
@source "../../course/_posts";
@source "../../course/src/assets";

@import './shared.css';
@import './search.css';
@import './app.css';
@import './course.css';
@import './cheatsheet.css';
@import './highlight-light.css';
@import './highlight-dark.css';
@import './toc.css';

@custom-variant screen (@media screen);

:root {
  --default-font-family: 'PT Sans';
}
