@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Fjalla+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    nord --default,
    night --prefersdark;
}

@theme {
  --font-title: 'Bitcount Prop Single', 'PT Sans', sans-serif;
}

@source "../../app/deps/flashy/**/*.*ex";
@source "../../app/lib";
@source "../../course/collections";
@source "../../course/_includes";
@source "../../course/index.md";
@source "../../course/_layouts";
@source "../../course/plugins";
@source "../../course/_posts";
@source "../../course/src/assets";

@import './shared.css';
@import './search.css';
@import './app.css';
@import './course.css';
@import './highlight-light.css';
@import './highlight-dark.css';
@import './toc.css';

@custom-variant screen (@media screen);

:root {
  --default-font-family: 'PT Sans';
}
