# https://docs.docker.com/build/concepts/context/#dockerignore-files

/app/archidep-*.tar
/app/assets/node_modules/
/app/_build/
/app/config/local.exs
/app/cover/
/app/deps/
/app/doc/
/app/.elixir_ls
/app/erl_crash.dump
/app/*.ez
/app/.fetch
/app/npm-debug.log
/app/priv/static
/app/priv/uploads
/app/tmp/

/course/.bundle
/course/dist
/course/.jekyll-cache
/course/.jekyll-metadata
/course/node_modules
/course/pdf
/course/_site
/course/vendor

/theme/dist

/node_modules
/tmp
