# https://prettier.io/docs/en/ignore.html
/app/assets/vendor/topbar.js
/app/_build
/app/.elixir_ls
/app/cover
/app/deps
/app/priv/static
/app/priv/uploads
/course/**/*.html
/course/Gemfile
/course/.jekyll-cache
/course/**/*.rb
/digest/_build
/digest/deps
/node_modules
/theme/src/highlight-dark.css
/theme/src/highlight-light.css
/tmp
