# https://prettier.io/docs/en/ignore.html
/app/assets/vendor/topbar.js
/app/_build
/app/.elixir_ls
/app/cover
/app/deps
/app/priv/static
/app/priv/uploads
/course
/node_modules
/theme/src/highlight.css
/tmp
