pane_frames true

layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="db" {
    pane command="psql" {
      args "archidep"
    }
  }

  tab name="test" {
    pane command="mix" cwd="app" {
      args "test.watch"
    }
  }

  tab name="app" split_direction="vertical" {
    pane cwd="app" size="65%" borderless=true
    pane command="mix" cwd="app" size="35%" {
      args "phx.server"
    }
  }

  tab name="shell" focus=true {
    pane borderless=true
  }

  tab name="course" split_direction="vertical" {
    pane borderless=true cwd="course" size="65%"
    pane command="bundle" cwd="course" size="35%" {
      args "exec" "jekyll" "serve" "--config" "_config.yml" "--drafts" "--livereload"
    }
  }

  tab name="theme" {
    pane command="npm" cwd="theme" {
      args "start"
    }
  }
}
