pane_frames true

layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="db" {
    pane command="psql" {
      args "archidep"
    }
  }

  tab name="test" {
    pane command="mix" cwd="app" {
      args "test.watch"
    }
  }

  tab name="phoenix" {
    pane command="mix" cwd="app" {
      args "phx.server"
    }
  }

  tab name="app" {
    pane cwd="app" borderless=true
  }

  tab name="shell" focus=true {
    pane borderless=true
  }

  tab name="course" {
    pane cwd="course" borderless=true
  }

  tab name="jekyll" {
    pane command="bundle" cwd="course" {
      args "exec" "jekyll" "serve" "--config" "_config.yml,_config.proxied.yml" "--drafts" "--livereload"
    }
  }

  tab name="assets" split_direction="vertical" {
    pane command="npm" cwd="app" {
      args "start"
    }
    pane command="npm" cwd="course" size="40%" {
      args "start"
    }
    pane command="npm" cwd="theme" {
      args "start"
    }
  }
}
