---
layout: toc
---
<h2>:scroll: Legend</h2>

<p>Parts of this exercise are annotated with the following icons:</p>

<ul class='legend'>
  <li>:exclamation: A task you MUST perform to complete the exercise</li>
  <li>
    :question: An optional step that you may perform to make sure that everything is working correctly, or to set up
    additional tools that are not required but can help you
  </li>
  <li>:checkered_flag: The end of the exercise</li>
  <li>:classical_building: The architecture of the software you ran or deployed during this exercise.</li>
  <li>:boom: Troubleshooting tips: how to fix common problems you might encounter</li>
</ul>

{{ content }}
