---
layout: toc
---
<!-- Welcome message -->
<div class='not-prose alert alert-success alert-soft my-4 print:hidden' role='alert'>
  {% include icons/info-circle.html class='size-6 stroke-success shrink-0' %}
  <span>Welcome to the Architecture & Deployment course!</span>
</div>

<!-- Previously, due next & next time cards -->
<div class='not-prose my-4 grid grid-cols-1 xl:grid-cols-3 gap-4 print:hidden'>
  {% if page.previous_chapters.size != 0 %}
    {%
      include home-card.html
      title='Previously' chapters=page.previous_chapters
      class='bg-success text-success-content' line_class='hover:bg-success-content/10' link_class='hover:!text-success-content'
    %}
  {% endif %}

  {% if page.next_due_exercises.size != 0 %}
    {%
      include home-card.html
      title='Due next' chapters=page.next_due_exercises
      class='bg-warning text-warning-content' line_class='hover:bg-warning-content/10' link_class='hover:!text-warning-content'
    %}
  {% endif %}

  {% if page.next_chapters.size != 0 %}
    {%
      include home-card.html
      title='Next time' chapters=page.next_chapters
      class='bg-info text-info-content' line_class='hover:bg-info-content/10' link_class='hover:!text-info-content'
    %}
  {% endif %}
</div>

{{ content }}
