---
layout: toc
---
{% if page.slides %}
  <div class='not-prose print:hidden'>
    <div class='mt-4 mb-2 flex justify-between items-end gap-x-2'>
      <h2 class='text-4xl font-bold'>Presentation</h2>
      <div class='flex items-center gap-2'>
        <a
          href='{{ page.slides.url | relative_url }}?show-notes=true'
          target='_blank'
          class='flex items-center gap-x-2 opacity-75 hover:opacity-100 tooltip'
          data-tip='Open with speaker notes'
        >
          {%- include icons/document-text.html class="size-8" -%}
        </a>
        <a
          href='{{ page.slides.url | relative_url }}'
          target='_blank'
          class='flex items-center gap-x-2 opacity-75 hover:opacity-100 tooltip'
          data-tip='Open'
        >
          {%- include icons/presentation-chart.html class="size-8" -%}
        </a>
      </div>
    </div>

    <iframe
      class='w-full aspect-video dark:opacity-85'
      src='{{ page.slides.url | relative_url }}?view=scroll'
      title='Slides'
    ></iframe>
  </div>
{% endif %}

{{ content }}
