---
layout: base
---
<div class='flex flex-wrap xl:flex-nowrap justify-center gap-4 mx-auto'>
  <div class='p-4 lg:p-6 xl:p-8 rounded md:rounded-lg lg:rounded-xl xl:rounded-2xl w-full bg-linear-to-br from-transparent to-zinc-200 dark:from-transparent dark:to-zinc-800/25 md:w-auto'>
    <main class='prose prose-lg xl:prose-xl 2xl:prose-2xl sm:max-md:max-w-none'>
      {% if page.title_include %}
        {%- include {{ page.title_include }} %}
      {% elsif page.title %}
        <h1 class='text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-5xl !mb-0'>{{ page.title }}</h1>
        {% if page.subtitle %}
          <small class='text-xl font-title'>{{ page.subtitle }}</small>
        {% endif %}
      {% endif %}

      <div class='my-4'>
        {{ page.excerpt }}
      </div>

      <div class='my-4 toc collapse screen:collapse-arrow print:collapse-open bg-neutral border-base-300 border xl:hidden'>
        <input type='checkbox'>
        <div id='on-this-page-inline-title' class='collapse-title text-xl font-bold'>
          <span class='print:hidden'>On this page</span>
          <span class='hidden print:inline'>Table of contents</span>
        </div>
        <nav class='toc collapse-content text-sm' aria-labelledby='on-this-page-inline-title'>
          {{ content | toc_only }}
        </nav>
      </div>

      {{ content | remove_first: page.excerpt }}
    </main>
  </div>
  <aside class='hidden xl:block xl:w-xs'>
    <h2 id='on-this-page-title' class='text-xl font-bold'>On this page</h2>
    <nav class='toc' aria-labelledby='on-this-page-title'>
      {{ content | toc_only }}
    </nav>
  </aside>
</div>
