<h1>{gettext("Dashboard")}</h1>

<.live_component
  :if={
    @student != nil and Student.can_create_servers?(@student) and not @student.username_confirmed
  }
  module={WhatIsYourNameLive}
  id={WhatIsYourNameLive.id()}
  auth={@auth}
  student={@student}
/>
