<form action="/auth/switch-edu-id/configure" method="get">
  <button type="submit">Log in</button>
  <label>
    <input type="checkbox" name="remember-me" value="true">
    Remember Me
  </label>
</form>
