<form action="/auth/switch-edu-id/configure" method="get">
  <button type="submit">{gettext("Log in")}</button>
  <label>
    <input type="checkbox" name="remember-me" value="true" />
    {gettext("Remember Me")}
  </label>
</form>
