<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Home" suffix={" · #{gettext("ArchiDep")}"}>
      {assigns[:page_title]}
    </.live_title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/archidep-rocket-16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/archidep-rocket-32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicons/archidep-rocket-48.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/archidep-rocket-96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/archidep-rocket-192.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/archidep-rocket-180.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/theme/theme.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app/app.js"}>
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/search/search.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
