<h1>Classes</h1>

<button type="button" class="btn btn-primary" phx-click={JS.dispatch("open-new-class-dialog", to: "body")}>
  New Class
</button>

<em :if={Enum.empty?(@classes)}>
  No classes found.
</em>

<ul :if={not Enum.empty?(@classes)}>
  <%= for class <- @classes do %>
    <li><%= class.name %></li>
  <% end %>
</ul>

<.live_component module={NewClassDialogLive} id={NewClassDialogLive.id()} auth={@auth} />
