<dialog id={id(@class)} class="modal">
  <div class="modal-box w-full lg:w-3/4 xl:w-2/3 max-w-5xl">
    <.class_form
      id="edit-class-form"
      form={@form}
      title="Edit Class"
      on_submit="update"
      on_close={close(@class)}
      target={@myself}
    />
  </div>
  <form method="dialog" class="modal-backdrop" phx-click="closed" phx-target={@myself}>
    <button type="submit">Close</button>
  </form>
</dialog>
