<dialog id={id()} class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Import Students</h3>
  </div>
  <form method="dialog" class="modal-backdrop" phx-click="closed" phx-target={@myself}>
    <button type="submit">Close</button>
  </form>
</dialog>
