<dialog
  id={id()}
  class="modal"
  data-action-close={JS.dispatch("phx:close-dialog", detail: %{dialog: id()})}
>
  <div class="modal-box">
    <.student_form
      id="new-student-form"
      form={@form}
      title={gettext("New Student")}
      on_submit="create"
      on_close={close()}
      target={@myself}
    />
  </div>
  <form method="dialog" class="modal-backdrop" phx-click="closed" phx-target={@myself}>
    <button type="submit">{gettext("Close")}</button>
  </form>
</dialog>
