<dialog id={id()} class="modal" data-action-close={JS.dispatch("phx:close-dialog", detail: %{dialog: id()})}>
  <div class="modal-box w-11/12 max-w-3xl">
    <.class_form
      id="new-class-form"
      form={@form}
      title="New Class"
      on_submit="create"
      on_close={close()}
      target={@myself}
    />
  </div>
  <form method="dialog" class="modal-backdrop" phx-click="closed" phx-target={@myself}>
    <button type="submit">{gettext("Close")}</button>
  </form>
</dialog>
