<div class='flex flex-wrap xs:flex-nowrap items-center gap-4'>
  <div class='flex items-center gap-4'>
    <img src='{{ "/favicons/archidep-512-flat.png" | relative_url }}' alt='ArchiDep logo' class='!m-0 w-40'>
  </div>
  <div>
    <h1 class='text-2xl md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-5xl !mb-0 dark:text-white print:hidden'>
      Architecture & Deployment
    </h1>
    <div class='flex flex-wrap 2xl:flex-nowrap items-center gap-x-4 gap-y-2'>
      <span class='flex items-center gap-2'>
        <a href='https://heig-vd.ch' target='_blank'>
          <img src='{{ "/favicons/heig.png" | relative_url }}' alt='HEIG-VD logo' class='!m-0 w-8'>
        </a>
        <small class='text-xl font-title whitespace-normal sm:whitespace-nowrap'>
          A
          <a
            href='https://heig-vd.ch/formation/bachelor/ingenierie-des-medias/'
            class='link hover:text-accent'
            target='_blank'
          >
            Media Engineering
          </a>
          Course
        </small>
      </span>

      <ul class='not-prose flex flex-wrap md:flex-nowrap items-center gap-2'>
        {% unless site.archidep_standalone %}
          <li class='print:hidden'>
            <a href='https://status.archidep.ch'>
              <img
                class='!m-0'
                src='https://status.archidep.ch/badge/_/status?labelColor=&color=&style=flat&label=status'
                alt='Status'
              >
            </a>
          </li>
          <li class='print:hidden'>
            <a href='https://github.com/ArchiDep/website/actions/workflows/build.yml'>
              <img
                class='!m-0'
                src='https://github.com/ArchiDep/website/actions/workflows/build.yml/badge.svg'
                alt='Build'
              >
            </a>
          </li>
        {% endunless %}
        <li>
          <a href='https://opensource.org/licenses/MIT'>
            <img
              class='!m-0'
              src='https://img.shields.io/static/v1?label=license&message=MIT&color=informational'
              alt='MIT License'
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
