<div class='flex items-center gap-4'>
  <div class='avatar'>
    <div class='w-30'>
      <img src='/favicons/archidep-512.png' alt='ArchiDep logo' class='!m-0'>
    </div>
  </div>
  <div>
    <h1 class='text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-5xl !mb-0 dark:text-white print:hidden'>
      Architecture & Deployment
    </h1>
    <div class='flex flex-wrap lg:flex-nowrap items-center gap-x-4 gap-y-2'>
      <small class='text-xl font-title whitespace-normal sm:whitespace-nowrap'>
        A
        <a
          href='https://heig-vd.ch/formation/bachelor/ingenierie-des-medias/'
          class='link hover:text-accent'
          target='_blank'
        >
          Media Engineering
        </a>
        Course
      </small>

      <ul class='not-prose flex flex-wrap md:flex-nowrap items-center gap-x-2 gap-y-1'>
        <li>
          <a href='https://status.archidep.ch'>
            <img
              src='https://status.archidep.ch/badge/_/status?labelColor=&color=&style=flat&label=status'
              alt='Status'
            >
          </a>
        </li>
        <li>
          <a href='https://github.com/ArchiDep/website/actions/workflows/build.yml'>
            <img src='https://github.com/ArchiDep/website/actions/workflows/build.yml/badge.svg' alt='Build'>
          </a>
        </li>
        <li>
          <a href='https://opensource.org/licenses/MIT'>
            <img src='https://img.shields.io/static/v1?label=license&message=MIT&color=informational' alt='MIT License'>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
