<dialog id='search-dialog' class='modal modal-bottom sm:modal-middle'>
  <div class='modal-box p-0'>
    <label class='input w-full border-0 focus-within:outline-0 border-b border-b-black/20 dark:border-b-white/20 rounded-b-none'>
      {% include icons/magnifying-glass.html class="icon size-4" %}
      {% include icons/arrow-path.html class="icon size-4 animate-spin hidden" %}
      <input
        type='search'
        id='search-input'
        class='grow'
        placeholder='Search'
        autofocus
      >
      <kbd class='kbd kbd-sm'>esc</kbd>
    </label>
    <div>
      <p id='search-no-query' class='p-4 italic text-base-content/50'>You haven't searched anything yet.</p>
      <p id='search-no-results' class='p-4 text-warning/85 hidden'>
        <span class='mr-1'>🤷</span>
        <span class='italic'>Sorry, we found nothing like that.</span>
      </p>
      <p id='search-results-count' class='px-4 pt-4 text-xs opacity-60 tracking-wide hidden'>N results found:</p>
      <ul id='search-results' class='list hidden'></ul>
    </div>
  </div>
  <form method='dialog' class='modal-backdrop'>
    <button>close</button>
  </form>
</dialog>

<template id='search-result-sample'>
  <li class='search-result list-row hover:bg-primary/25'>
    <div>
      <span class='icon rounded-box text-2xl opacity-85 hover:opacity-100 tooltip' data-tip='Subject'>🚀</span>
    </div>
    <div class='cursor-pointer'>
      <div class='title'>Lorem ipsum dolor sit amet</div>
      <div class='subtitle text-xs uppercase font-semibold opacity-60'>Amet velit sint in labore dolor amet.</div>
    </div>
    <a href='#' class='link btn btn-square btn-ghost'>
      {% include icons/play.html class="size-8" %}
    </a>
  </li>
</template>
