<dl>
  <dt>Username</dt>
  <dd>{username(@auth)}</dd>
  <dt>Switch edu-ID email</dt>
  <dd>{@user_account.switch_edu_id.email}</dd>
  <dt>Registration date</dt>
  <dd>{format_date_time(@user_account.created_at)}</dd>
</dl>

<h2 class="mt-5 text-2xl font-bold mb-3">Sessions</h2>

<.live_component module={CurrentSessionsLive} id={CurrentSessionsLive.id()} auth={@auth} />
